## Chatbot Finance 
### Michal Heydel, Milosz Taracha
#### 01/2018

### Input:
* Date, Stock_symbol, what_info?

### Output:
*..

In [3]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter, YearLocator, MonthLocator
import matplotlib.dates as mdates
%matplotlib inline

import seaborn as sns
sns.reset_orig() # don't change the style of plots

import glob
import datetime
import warnings
warnings.filterwarnings('ignore')

In [5]:
csv_files = glob.glob('nyse\*.csv')
csv_files

['nyse\\fundamentals.csv',
 'nyse\\prices-split-adjusted.csv',
 'nyse\\prices.csv',
 'nyse\\securities.csv']

In [10]:
def read_stock_price_data():
    csv_files = glob.glob('nyse\*.csv')
    csv_files
    stock_price_df = pd.read_csv(csv_files[1], parse_dates = ['date'])
    return stock_price_df

In [56]:
import dateutil.parser
def stock_price_on_day(stock_symbol, datestring, data = stock_price_df):
    date = dateutil.parser.parse(datestring, dayfirst = True)
    ## code to say that date need to be between 2010-01-01 to 2016-12-30 -> raiseError if?, assert(??)
    return data.loc[(stock_price_df['symbol'] == stock_symbol) & (stock_price_df['date'] == date)]

In [52]:
# First problem...
print(dateutil.parser.parse("21/05/2016", dayfirst = True))
print(dateutil.parser.parse("04/05/2016", dayfirst = True))
print(dateutil.parser.parse("2013-05-01", dayfirst = True))
print(dateutil.parser.parse("05/01/2013"))
## looks like "dayfirst = True" solves the problem..

# Second problem - some days there is no data - for example the weekends.. 
## How to treat this..

2016-05-21 00:00:00
2016-05-04 00:00:00
2013-01-05 00:00:00
2013-05-01 00:00:00

In [46]:
#Main()
stock_price_df = read_stock_price_data()

In [54]:
stock_price_on_day('NFLX', "01/05/2013")

,date,symbol,open,close,low,high,volume
394311,2013-05-01,NFLX,30.845715,30.415714,30.235714,31.055714,18359600.0

In [55]:
stock_price_on_day('NFLX', "05/01/2013")
# Problem that is a weekend

Empty DataFrame
Columns: [date, symbol, open, close, low, high, volume]
Index: []

In [26]:
stock_price_df.loc[(stock_price_df['symbol'] == 'NFLX') & (stock_price_df['date'] == '2011-01-06')]

             date symbol       open      close        low   high      volume
120106 2011-01-06   NFLX  25.168571  25.427143  25.092857  25.67  31991400.0

In [39]:
stock_price_df.tail()

,date,symbol,open,close,low,high,volume
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0